.loginContainer {
  padding: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.socialLogin {
  margin-top: 50px;
}

.socialLoginTitle {
  margin-bottom: 24px;
}

.socialLink {
  margin-bottom: 8px;
}
